.header-menu {
  position: fixed;
  display: flex;
  z-index: 1;
  justify-content:space-between;
  align-items: center;
  height: 66px;
  width: 100%;
  background-color: white;
  opacity: 0.7;
  box-shadow: 2px 0 10px rgb(41 44 61 / 34%);

  a{
    text-decoration: none;
    color: #000000;
    padding-right: 22px;
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-weight: 500;

    &:hover {
      color: #FF4A32;
      cursor: pointer;
    }
  }
  //исправь
  .header-icons{
    padding-right: 21px;
  }
}

.welcome {
  background-image: url("../assets/bg1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 950px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 56px;

  &-title {
    font-size: 44px;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    color: #000000;
    padding-top: 66px;
  }

  &-subtitle {
    font-size: 15px;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    color: #000000;
  }
  &-buttons{
    margin-top: 10px;
    &__btn1{
      background-color: #FF4A32;
      border: 1px solid #FF4A32;
      border-radius: 35px;
      color: #FFFFFF;
      width: 201px;
      height: 33px;

      &:hover{
        background-color: #6b6b6b;
        border: 1px solid #6b6b6b;
      }
    }

    &__btn2 {
      background-color: #FF4A32;
      border: 1px solid #FF4A32;
      border-radius: 35px;
      color: #FFFFFF;
      width: 201px;
      height: 33px;
      margin-left: 12px;

      &:hover {
        background-color: #6b6b6b;
        border: 1px solid #6b6b6b;
      }
    }
  }
}

.navigations-icons{
  background-color: black;
  height: 83px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.shop{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 52px;

  &-title{
    font-family: Roboto,sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: black;
  }

  &-subtitle{
    font-family: Roboto,sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: black;
    text-align: center;
    width: 50%;
  }

  &-line{
    border: 1px solid #CFCFCF;
    width: 70px;
    height: 2px;
    margin-top: 10px;
  }

  &-img{
    display: flex;
    justify-content: space-around;
    margin-top: 44px;

    img {
      transition: all 0.5s ease-out;
    }
    img:hover{
      transform: scale(1.2);
    }

    &__box{
      position: relative;
      overflow:hidden;
      width: 580px;
      height:580px;

      &-tekst{
        position: absolute;
        top: 210px;
        left: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title{
          font-family: Roboto,sans-serif;
          font-weight: 400;
          font-size: 25px;
          color: #FFFFFF;
        }
        &__subtitle{
          font-family: Roboto,sans-serif;
          font-weight: 400;
          font-size: 18px;
          color: #FFFFFF;
        }
      }

    }
    &__box2{
      position: relative;
      overflow: hidden;
      width: 580px;
      height: 580px;
      margin-left: 20px;

      &-tekst2{
        position: absolute;
        top: 210px;
        left: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title{
          font-family: Roboto,sans-serif;
          font-weight: 400;
          font-size: 25px;
          color: #FFFFFF;
        }
        &__subtitle{
          font-family: Roboto,sans-serif;
          font-weight: 400;
          font-size: 18px;
          color: #FFFFFF;
        }
      }
    }
  }
}

.elskate{
  background-image: url("../assets/bg2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 736px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-words{
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: black;
    padding-top: 40px;
  }

  &-title{
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: black;
  }

  &-subtitle{
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: black;
    width: 30%;
    text-align: center;
  }

  &-btn{
    background-color: #FF4A32;
    border: 1px solid #FF4A32;
    border-radius: 35px;
    color: #FFFFFF;
    width: 201px;
    height: 33px;

    &:hover{
      background-color: #6b6b6b;
      border: 1px solid #6b6b6b;
    }
  }
}

.revshop{
  display: flex;
  justify-content: center;
  padding: 40px 130px;

  &-img2{
    margin: 0 20px;
  }

  img{
    width: 380px;
    height: 380px;
  }

  &-words {
    display: flex;
    flex-direction: column;
    margin-top: 67px;
    margin-left: 40px;

    &__title {
      font-family: Roboto,sans-serif;
      font-weight: 400;
      font-size: 32px;
      color: black;
    }

    &__subtitle {
      font-family: Roboto,sans-serif;
      font-weight: 400;
      font-size: 15px;
      color: black;
      width: 339px;
    }

    &__btn {
      background-color: #FF4A32;
      border: 1px solid #FF4A32;
      border-radius: 35px;
      color: #FFFFFF;
      width: 201px;
      height: 33px;

      &:hover {
        background-color: #6b6b6b;
        border: 1px solid #6b6b6b;
      }
    }
  }
}

.skateshop{
  display: flex;
  img{
    width: 506px;
    height: 506px;
  }
  img {
    transition: all 0.5s ease-out;
  }

  img:hover{
    transform: scale(1.2);
  }
  &-first{
    position: relative;
    overflow:hidden;
    width: 506px;
    height:506px;


    &__tekst{
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 208px;
      left: 134px;
      align-items: center;
      &-title{
        font-family: Roboto,sans-serif;
        font-weight: 400;
        font-size: 25px;
        color: #FFFFFF;
      }
      &-subtitle{
        color: #FFFFFF;
        font-family: Roboto,sans-serif;
        font-weight: 400;
        font-size: 18px;
      }
    }
  }

  &-second{
    position: relative;
    overflow:hidden;
    width: 506px;
    height:506px;

    &__tekst2{
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 208px;
      left: 134px;
      align-items: center;
      &-title{
        font-family: Roboto,sans-serif;
        font-weight: 400;
        font-size: 25px;
        color: #FFFFFF;
      }
      &-subtitle{
        color: #FFFFFF;
        font-family: Roboto,sans-serif;
        font-weight: 400;
        font-size: 18px;
      }
    }
  }

  &-third{
    position: relative;
    overflow:hidden;
    width: 506px;
    height:506px;

    &__tekst3{
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 208px;
      left: 134px;
      align-items: center;
      &-title{
        font-family: Roboto,sans-serif;
        font-weight: 400;
        font-size: 25px;
        color: #FFFFFF;
      }
      &-subtitle{
        color: #FFFFFF;
        font-family: Roboto,sans-serif;
        font-weight: 400;
        font-size: 18px;
      }
    }
  }
}

.video{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 55px;
  &-numb2{
    margin-left: 20px;
  }
}

.icons{
  display: flex;
  height: 308px;
  background-color: black;
  align-items: center;
  justify-content: space-evenly;

  &-numb1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20%;
    padding-top: 17px;

    &__title{
      color: #FFFFFF;
      font-size: 31px;
      font-weight: 700;
      font-family: Roboto,sans-serif;
    }
    &__subtitle{
      color: #FFFFFF;
      font-size: 15px;
      font-weight: 400;
      font-family: Roboto,sans-serif;
    }
  }

  &-numb2{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    //padding-left: 72px;

    &__title{
      color: #FFFFFF;
      font-size: 31px;
      font-weight: 700;
      font-family: Roboto,sans-serif;
    }
    &__subtitle{
      color: #FFFFFF;
      font-size: 15px;
      font-weight: 400;
      font-family: Roboto,sans-serif;
    }
  }

  &-numb3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20%;
    //padding-left: 67px;

    &__title{
      color: #FFFFFF;
      font-size: 31px;
      font-weight: 700;
      font-family: Roboto,sans-serif;
    }
    &__subtitle{
      color: #FFFFFF;
      font-size: 15px;
      font-weight: 400;
      font-family: Roboto,sans-serif;
    }
  }

  &-numb4{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 20%;

    &__title{
      color: #FFFFFF;
      font-size: 31px;
      font-weight: 700;
      font-family: Roboto,sans-serif;
    }
    &__subtitle{
      color: #FFFFFF;
      font-size: 15px;
      font-weight: 400;
      font-family: Roboto,sans-serif;
    }
  }
}

.footer{
  height: 329px;
  background-color: #F7F7F7;
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-left: 130px;
  width: 100%;

  &-explore{
    display: flex;
    flex-direction: column;
    padding-left: 240px;
    width: 50%;
    &__links{
      color: black;
      font-size: 20px;
      font-weight: 500;
      font-family: Roboto,sans-serif;
    }
    a{
      color: black;
      font-size: 13px;
      font-weight: 400;
      font-family: Roboto,sans-serif;
      text-decoration: none;
      &:hover{
        color: #FF4A32;
        cursor: pointer;
      }
    }
  }

  &-about{
    display: flex;
    flex-direction: column;
    padding-right: 120px;
    &__title{
      color: black;
      font-size: 19px;
      font-family: Roboto,sans-serif;
      font-weight: 500;
    }
    &__subtitle{
      color: black;
      font-size: 14px;
      font-family: Roboto,sans-serif;
      font-weight: 400;
      width: 367px;

    }
    &__address{
      color: black;
      font-size: 13px;
      font-family: Roboto,sans-serif;
      font-weight: 400;
      width: 167px;
    }
  }
}

.footer2{
  display: flex;
  justify-content: space-evenly;
  padding-top: 19px;
  p{
    color: black;
    font-size: 13px;
    font-weight: 400;
    font-family: Roboto,sans-serif;
    a{
      text-decoration: none;
      color: #FF4A32;
    }
  }

  img{
    padding: 0 3px;
  }
}
